<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">
        
		<tx:annotation-driven  transaction-manager="txManager"/>
		
		<bean id="entityFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
			<property name="dataSource" ref="dataSource"/>
			<property name="packagesToScan" value="andy.web.mvc.jpa.model"/>
			<property name="jpaVendorAdapter" >
				<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>			
			</property>
			<property name="jpaProperties" >
				<props>
					<prop key="hibernate.hbm2ddl.auto" >create-drop</prop>
					<prop key="hibernate.dialect" >org.hibernate.dialect.Oracle10gDialect</prop>
					<prop key="hibernate.show_sql">true</prop>
				</props>
			</property>
		</bean>
		
		<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"  >
			<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
			<property name="url" value="jdbc:oracle:thin:@199.221.111.82:1521:lausoned" />
			<property name="username" value="lausdev" />
			<property name="password" value="Welcome1$"/>
		</bean>
		
		<bean id="txManager" class="org.springframework.orm.jpa.JpaTransactionManager">
			<property name="entityManagerFactory" ref="entityFactory" />
		</bean>
		
		<bean id="persistenceExceptionTranslationPostProcessor" class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>
		
</beans>        