
		<div id="navbar" align="center">
				<ul>
					<li id="home" class="navitem" onclick="setMenuActive('home')" ><a class="navlnk"  href="/home">Home</a></li>
					<li id="resource" class="navitem" onclick="setMenuActive('resource')">Resources
						<ul>
							<li id="video" class="navitem" onclick="setMenuActive('video')" ><a class="navlnk"  href="/media/video">Videos</a></li>
							<li id="audio" class="navitem" onclick="setMenuActive('audio')" ><a class="navlnk"  href="/media/audio">Audio</a></li>
						</ul>
					</li>
					<li id="about" class="navitem" onclick="setMenuActive('about')"><a class="navlnk"  href="/about">About</a></li>
					<li id="logout" class="navitem" ><a class="navlnk"  href="/logout">Logout</a></li>
					<li></li>
				</ul>
		</div>
