
<web-app id="WebApp_ID" version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Login Web Application</display-name>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Protected pages</web-resource-name>
				<url-pattern>/admin/*</url-pattern>
				<http-method>GET</http-method>
				<http-method>POST</http-method>
				<http-method>HEAD</http-method>
				<http-method>PUT</http-method>
				<http-method>DELETE</http-method>
				<http-method>TRACE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Public pages</web-resource-name>
				<url-pattern>/pages/*</url-pattern>
				<http-method>GET</http-method>
				<http-method>POST</http-method>
				<http-method>HEAD</http-method>
				<http-method>PUT</http-method>
				<http-method>DELETE</http-method>
				<http-method>TRACE</http-method>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<!--  
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>JDBCRealm</realm-name>
	</login-config> -->
	
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>JDBCRealm</realm-name>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/loginerror.jsp</form-error-page>
		</form-login-config>
	</login-config>
	
	<error-page>
		<error-code>403</error-code>
		<location>/error403.jsp</location>
	</error-page>
	<welcome-file-list>
		<welcome-file>/home.jsp</welcome-file>
	</welcome-file-list>
</web-app>