<!DOCTYPE html>
<html>
<head>
	<script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
	<script src= "javascript/moment.min.js"></script>
	<script src= "javascript/angular-moment.min.js"></script>
	<style>
		.clock {
			width:15%;
			background-color: #b0e0e6;
			border: 1px solid #000000;
			border-radius: 7px;
			text-shadow: 2px 2px darkgray;
		}
	</style>
</head>
<body ng-app="app">
	<div ng-controller="ContrlDrive1">
		<p align='center' class="clock">{{jsDate}}</p>
		<br>
		<time>{{jsDate |amDateFormat }}</time>
		<input type="text" ng-model="msgData.message" ng-model-options="{debounce: 1000}">
		<p>Reverse:{{msgData.message | reverseFilt }}</p>
		<p>To Uppercase:<pre ng-bind="msgInUpper"></pre></p>
	</div>
	<div ng-controller="ContrlDrive2">
		<input type="text" ng-model="msgData.message">
		<p>Reverse:{{reverse(msgData.message)}}</p>
	</div>

	<script>
		var app=angular.module("app",['angularMoment']);
		app.factory('Data', function(){
			return{
				message: "Agnus Dei"
			};
		});

		app.filter('reverseFilt', function(){
			return function(text){
				return text.split("").reverse().join("");
			}
		});

		app.filter('_upper', function(){
			return function(msg){
				console.log('inside _upper()');
				return msg.toUpperCase();
			}
		});
		//app.controller('ContrlDrive1',ContrlDrive1);
		//app.controller('ContrlDrive2',ContrlDrive2);

		var controllers ={};
		controllers.ContrlDrive1 =ContrlDrive1;
		controllers.ContrlDrive2 =ContrlDrive2;

		app.controller(controllers);

		function ContrlDrive1($scope, $filter,$timeout, Data){
			$scope.msgData= Data;
			$scope.msgInUpper= $filter('_upper')($scope.msgData.message);
			$scope.jsDate = '';

			$scope.$watch('msgData.message', function(newVal, oldVal){
				$scope.msgInUpper = $filter('_upper')(newVal);
			});

			setInterval(function(){
				$scope.$apply(function(){
					$scope.jsDate = $filter('date')(new Date(), 'M/d/yyyy  h:mm:ss a');
				});
			}, 1000);
		}

		function ContrlDrive2($scope, Data){
			$scope.msgData=Data;

			$scope.reverse = function(msg){
				return msg.split("").reverse().join("");
			}
		}

	</script>

</body>
</html>